.categories-aside{

    background-color: #c7c8b9d9;
    color: var(--color-dark);
    border-radius: 10px;
    width: 18.5vw;
   



    &__menu{
        display: flex;
        flex-direction: column;

    }

    &__item{

        padding: 10px;


        &.is-open>.categories-aside__link>svg.categories-aside__icon{
            rotate: 180deg;

        }


   }


    &__link,
    &__sublink
    {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-inline: 10px;
        padding-block: 5px;
        background-color: var(--color-green-alt);
        transition-duration: var(--transition-duration);
        border-radius: 10px;

        

        @include hover{
            color: var(--color-light);
        }

        
    }

     &__sublink{
        background-color: inherit;
        color: inherit;

     }



    &__dropdown{
        display: none;

    }
    &__dropdown.to-show{
        display: block;
    }

    &__submenu{
        display: flex;
        flex-direction: column;
    }
}