.pagination{

& ul a{
		font-size: 16px;
		
		color: rgba(0,0,0,0.3);
}

& ul a:hover{
	color: rgba(0,0,0,0.6);
}
& ul a:active{
	color: rgba(0,0,0,1);
}

&{

	min-height: 100px;
	width: 100%;
	height: 70px;
	padding-left: 72px;
	

}

&-block{

	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	
}





&-list{
	margin-top: 20px;
}

&-list li{
	width: 40px;
	display: inline-block;
}


&-list &-item-current{
	color: #000000;



}

}

.btn-pagination{
	border:none;
	background-color: transparent;
	font-family: "Gilroy Extra Bold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 900;
	text-transform: uppercase;
	width: 110px;
	height: 60px;

}

.btn-pagination:hover{
	background-color:#d9d9d9;
}

.btn-pagination:active{
	color: rgba(0,0,0,0.3);
}


.btn-pagination.btn-back{
	left: 1px;
	
}
.btn-pagination.btn-next{

	right: 1px;
}

