.sort-products{
    display: flex;
    justify-content: space-between;






    &__list{
        display: flex;
        justify-content: start;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    &__item{
    
    }

    &__link{
        @include flex-center(true);
        background-color: aliceblue;
        border-radius: 10px;
        box-shadow:0 8px 16px rgba(0, 0, 0, 0.2);
        padding: 10px;
        padding-inline: 15px;
        transition-duration: var(--transition-duration);

        @include hover {
            background-color:var(--color-green);
            color: var(--color-light);
            scale: 1.1;
        }
    }

}